<h1>UserDetail for:{{UserDetail.name.firstname}} {{UserDetail.name.lastname}}</h1>
<h2>Phone Number: {{UserDetail.phone}}</h2>
<table class="table table-dark">
    <thead>
       <tr>

       </tr>
        <td>Geolocation:</td>
        <td>City:</td>
        <td>Street:</td>
        <td>Number:</td>
        <td>Zipcode:</td>

    </thead>
    <tbody>
        <tr>
            <td>{{UserDetail.address.geolocation.lat}} {{UserDetail.address.geolocation.long}}</td>
            <td>{{UserDetail.address.city}}</td>
            <td>{{UserDetail.address.street}}</td>
            <td>{{UserDetail.address.number}}</td>
            <td>{{UserDetail.address.zipcode}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-dark">
    <thead>
       <tr>

       </tr>
        <td>Id:</td>
        <td>Email:</td>
        <td>Username:</td>
        <td>Password:</td>
    </thead>
    <tbody>
        <tr>
            <td>{{UserDetail.id}}</td>
            <td>{{UserDetail.email}}</td>
            <td>{{UserDetail.username}}</td>
            <td>{{UserDetail.password}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" routerLink="">Back</button>